
.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    margin: 40px auto;
  }
  
  .label {
    display: block;
    text-align: left;
    font-size: 16px;
  }
  
  .input {
    display: block;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    outline: none;
    width: 100%;
    padding: 0 12px;
    height: 42px;
    border: 1px solid rgba(105, 137, 196, 0.89);
    border-radius: 5px;
  }
  
  .input:hover {
      border: 1px solid #07040b;
  }
  
  .button {
      color: rgb(0, 0, 0);
      font-weight: 400;
      font-size: 18px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: 0.05em;
      padding: 8px;
      border-radius: 25px;
      height: 42px;
      width: 100px;
      border: none;
      background: rgb(197, 219, 241);
      margin-left: 100px;
    }
    
    .button:hover {
      background: #30609e;
    }
  